

.resp-container
{
    position: relative;
    overflow: hidden;
    /*padding-top: 56.25%;*/
}

.Footer
{
    /* absolute tibbe.should find a way to do it -> Fixed is okay. */
    position: sticky;
    bottom: 0px;
    width: 100vw;
    max-width: 100%;
    background-color: white;
    z-index: 1;
}


.main-header
{
    background-color: #fff0 !important;
    box-shadow: none !important;
}

#ResponsiveProfileCard, #Curve
{
    display: block;
}

#PrescriptionHeading, #ReportsHeading, #HistoryHeading, #AllergiesHeading, #MenuToggel, #DesktopProfileCard, #AdvertiestmentsArea
{
    display: none;
}

@media screen and (min-width: 650px) {
    #PrescriptionHeading, #ReportsHeading, #HistoryHeading, #AllergiesHeading, #MenuToggel, #DesktopProfileCard, #AdvertiestmentsArea
    {
        display: block;
    }
}
@media screen and (min-width: 650px)
{
        #QRDiv
        {
            margin-left: 30%;
            width: 40%;
        }
}

.main-header
{
        background-color: #fff0 !important;
        box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%) !important;
}

 #ResponsiveProfileCard, #Curve
 {
        display: none;
 }


svg
{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.Curve
{
    display: inline-block;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
}

.arrow
{
    position: relative;
}

.arrow:before
{
        content: '×';
        display: inline-block;
        position: absolute;
        font-size: 240px;
        font-weight: bold;
        font-family: verdana;
        width: 103px;
        height: 151px;
        overflow: hidden;
        line-height: 117px;
}

.arrow:after
{
        content: '';
        display: inline-block;
        position: absolute;
        left: 101px;
        top: 51px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 0 25px 24px;
        border-color: transparent transparent transparent black;
}

#radioBtn .notActive
{
    color: #3276b1;
    background-color: #fff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle
{
    color: #fff;
    background-color: #001540;
    border-color: #001540
}

img:hover
{
    cursor: pointer;
}

.btn-primaryBuy
{
    color: #fff;
    background-color: deeppink;
    border-color: deeppink;
}

.PatientAppDiv
{
    animation: fade-animation-example ease 1s;
}

@keyframes fade-animation-example {
    0% {
        opacity: 0;
       }

    100%
       {
        opacity: 1;
       }
}

.chosen-container .chosen-results li.highlighted
{
    background-color: #B2BEB5;
    background-image: none;
    color: #fff
}

[class*='close-']
{
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 6px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 6px;
    cursor: pointer;
}

.close-classic:after
{
    content: 'X'; /* ANSI X letter */
}

.close-thin:after
{
    content: '×'; /* UTF-8 symbol */
}

.close-thik:after
{
    content: '✖'; /* UTF-8 symbol */
}

/* Dialog */

.dialog
{
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    height: 200px;
    margin: 20px;
    position: relative;
    width: 150px;
}

.chosen-container-multi .chosen-choices .search-choice
{
    background-color: #c7bad3 !important;
    color: #3c3c3c !important;
}

.chosen-container-multi .chosen-choices .search-choice .search-choice-close
{
        /*background-image : url("dist-assets/images/Home/close.png")!important;*/
}

.ul-widget4__img img
{
    width: 5rem;
    border-radius: 5px;
    margin-right: 15px;
}

.ul-widget4__item
{
    border-bottom: none !important;
}

.ul-widget2__title
{
    font-size: 15px !important;
}


#rcorners2
{
    border-radius: 25px;
    border: 2px solid #808080;
    padding: 15px;
    width: auto;
    height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}

.f-size9
{
    font-size: 0.9rem
}
.pd-lr-5
{
    padding-right: 5px;
    padding-left: 5px;
}

.pd-lr-0
{
    padding-right: 0px;
    padding-left: 0px;
}

.p-0
{
    padding : 0px;
}
.pr-0
{
 padding-right : 0px;
}
.pr-5 {
    padding-right: 5px;
}
.Width200{

    width : 200%;
}

.LoginTitle
{
    text-align: center;
    color: #663399;
    font-family: Source Sans Pro, sans-serif;
}

.ColorBlue{
    color : #1759a7 !important;
}


.j-c
{
 justify-content : center;
}

.text-center
{
 text-align : center;
}

.text-left
{
    text-align: left;
}

.text-end
{
    text-align: end;
}

.BgImage {
    background-image: url('../../dist-assets/images/Home/BGNurse.jpg')
}

.main-header
{
 margin : auto;
}

.c-pointer
{
    cursor:pointer;
}

.c-default {
    cursor: default;
}

m-auto
{
    margin : auto;
}

.p-relative
{
    position: relative;
}

.w-100{
    width: 100%;
}
.img-mw-80
{
    max-width : 80%;
}

.img-mw-50 {
    max-width: 50%;
}

.pres-img {
    width: 20px;
    float: right;
}

.br-23
{
 border-radius : 23px;
}

.m-unset
{
    margin : unset !important;
}

.m-top-temp
{
    margin-top: -438px;
}

.p-heading {
    background: #663399;
    font-size: 18px;
}
.p-text {
    padding-top: 15px;
    color: white;
    font-size: 16px;
}

.p-para {
    font-size: 15px;
}

.p-img {
    width: 30px;
    float: right;
}

.footer-1 {
    background-color: #001540;
    padding-right: 5px;
    padding-left: 5px;
}

.col-footer {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.dis-none
{
    display:none;
}
.z-1
{
    z-index: 1 !important;
}

.ui-timepicker-standard
{
    z-index: 1 !important;
}

.loader
{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}



/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.select {
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    padding-right: 2rem;
}


