.CardItem:active {
    background-color: yellow;
}

.btn-primary{
    background: #175aa9 !important;
}

.btn-info, .btn-outline-info {
    border-color: #7583e0 !important;
    background: #175aa9 !important;
}

.btn-primary, .btn-outline-primary {
    border-color: #003473 !important;
}

.btn-info:hover, .btn-outline-info:hover {
    background: #003473;
    box-shadow: 0 8px 25px -8px #003473;
}

.btn-primary:hover, .btn-outline-primary:hover {
    background: #003473;
    box-shadow: 0 8px 25px -8px #003473;
    color: white !important;
}


.medicanurse{
    width: 15%;
}

.docnote{
    width: 60%;
}
